/.iprolog_history
/sweep-module.dylib
/swipl-win.app/
/bin/
/lib/
/share/
/sweep.html
/sweep.info
/sweep.info~
/sweep.texi~
/sweep.o
/TODO.org
/auto/
/sweep.tex
/#sweeprolog-tests.el#
/#sweep.pl#
/sweeprolog-tests.elc
/sweeprolog.elc
/.dir-locals.el
/NEWS.md
